on: [push, pull_request]

jobs:
  test_on_ubuntu:
    runs-on: ubuntu-latest
    name: g++-10

    steps:
      - name: Checkout oaknut repo
        uses: actions/checkout@v3

      - name: Install dependencies
        run: >
          sudo apt-get install -q -y
          gcc-10-aarch64-linux-gnu
          g++-10-aarch64-linux-gnu
          ninja-build
          qemu-user

      - name: Checkout Catch2 v3 repo
        uses: actions/checkout@v3
        with:
          repository: catchorg/Catch2
          ref: v3.2.0
          path: externals/catch

      - name: Configure CMake
        env:
          CC: aarch64-linux-gnu-gcc-10
          CXX: aarch64-linux-gnu-g++-10
        run: >
          cmake
          -B ${{github.workspace}}/build
          -H.
          -GNinja
          -DOAKNUT_USE_BUNDLED_CATCH=ON

      - name: Build
        working-directory: ${{github.workspace}}/build
        run: ninja

      - name: Test
        working-directory: ${{github.workspace}}/build
        run: qemu-aarch64 -L /usr/aarch64-linux-gnu ./oaknut-tests -d yes
